@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root {
    --bg-color: #ffdcfc;
    --text-color: #000;
    --text-color2: #fff;
    --other-color: #ff7cf4;
    --otro-color: #ff9ae1;
    --otro-color1: #ecbeec;
    --second-color: #e8dfd8;

    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 200px;
}

/* Header */

header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 14%;
    background-color: var(--bg-color);
}

.logo img {
    width: 150px;
}

.navlist {
    display: flex;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.navlist p {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.navlist p:hover {
    color: var(--other-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: var(--other-color);
    border-radius: 3rem;
    box-shadow: #530048 0px 1px 25px;
    cursor: pointer;
}

.nav-icons i {
    vertical-align: middle;
    font-size: 30px;
    color: var(--bg-color);
    margin-right: 8px;
    margin-left: 5px;
}

#menu-icon {
    font-size: 32px;
    color: var(--bg-color);
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.nav-icons i:hover {
    transform: scale(1.1);
    color: var(--text-color2);
}

/* Media Queries */
@media (max-width: 968px) {
    .navlist {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 0;
    }

    .navlist p {
        font-size: 10px;
    }

    .navlist.active {
        display: flex;
        max-height: 500px; 
    }

    #menu-icon {
        display: block;
    }
}

@media (max-width: 500px) {
    .navlist p {
        font-size: 5px;
    }
    .logo img {
        width: 80px;
    }
    .nav-icons {
        padding: 1px 7px;
    }
    .nav-icons i {
        font-size: 15px;
    }
}

/* Inicio */

.home-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-bottom: 50px;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3rem;
}

span {
    color: var(--otro-color);
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--otro-color);
    color: var(--text-color2);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.btn i {
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
}

.btn:hover {
    background-color: var(--other-color);
    color: var(--text-color);
    box-shadow: #530048 0px 1px 25px;
    transform: scale(1.1) translate(5px);
}

.home-image img {
    width: 100%;
    height: auto;
}

/* Container */

.container {
    padding: 30px 14% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    text-align: center;
}

/* Media queries */
@media (max-width: 968px) {
    .container {padding-top: 0px;}
}

.container-box {
    padding: 43px;
    background-color: var(--otro-color);
    border-radius: 3rem;
}

.container-box img {
    width: 95px;
    height: auto;
}

.container-box iframe {
    width: 100%;
    height: auto;
}

.container-box h3 {
    font-size: 21px;
    font-weight: bold;
    margin: 16px 0;
}

.container-box a {
    color: var(--text-color2);
    font-size: var(--p-font);
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.container-box a:hover {
    color: var(--text-color);
}

/* Sobre Mi */

#sobremi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    background-color: #fff;
    margin-top: auto;
}

.letras {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--other-color);
    justify-content: center;
}

.sobremi-text {
    padding: 20px;
    background-color: var(--second-color);
    width: 100%;
}

.sobremi-text h1 {
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 2rem;
}

.sobremi-text p {
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

/* Mis productos */

.middle-text {
    text-align: center;
}

.middle-text h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--other-color);
}

.middle-text h2 {
    font-size: var(--h2-font);
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    align-items: center;
    margin-top: 4rem;
}

.row {
    position: relative;
    padding: 40px 50px 80px;
    background-color: var(--second-color);
    border-radius: 3rem;
    margin: 20px;
}

.row img {
    height: auto;
    width: 100%;
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 2rem;
    margin-top: 20px;
}

.row img:hover {
    transform: scale(1.1);
}

.row h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}

.row p {
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.1rem;
}

.in-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in-text .price h6 {
    font-size: 17px;
    font-weight: 600;
}

.in-text .s-btn a {
    display: inline-block;
    padding: 9px 23px;
    background-color: var(--otro-color1);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all 0.5s ease;
}

.in-text .s-btn a:hover {
    background-color: var(--other-color);
    color: var(--text-color2);
    box-shadow: #530048 0px 1px 25px;
}

.top-icon i {
    font-size: 22px;
    color: var(--text-color2);
}

/* Mis especialidades  */

#misespecialidades h2 {
    text-align: center;
    font-size: var(--h2-font);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.contenedor img {
    width: 100%;
}

.texto h3 {
    font-size: 20px;
}

.texto {
    padding: 10px;
    width: 100%;
    font-size: var(--p-font);
    background-color: var(--second-color);
    letter-spacing: 1px;
    box-shadow: #5f335d 1px 3px 30px;
}

.responsive-image-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Contacto  */

#contacto {
    text-align: center;
    margin-top: 50px;
}

#contacto h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Bell MT';
}

.campo {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
option,
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #fde8fc;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff7cf4;
}

/*FOOTER*/

footer {
    background-color: var(--other-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.redes-sociales {
    margin-bottom: 10px;
}

.redes-sociales a {
    margin: 0 10px;
    }

.redes-sociales img {
    width: 40px;
    height: 40px;
}

/* Carrito  */

#tabla-carrito {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#tabla-carrito thead {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ccc;
}

#tabla-carrito th, #tabla-carrito td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#tabla-carrito th {
    font-weight: bold;
    color: #333;
}

#tabla-carrito td {
    color: #666;
}

#tabla-carrito td input[type="number"] {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

#tabla-carrito td button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#tabla-carrito td button:hover {
    background-color: #ff1a1a;
}

#btn-comprar {
    background-color: var(--otro-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#btn-comprar:hover {
    background-color: var(--other-color);
}

#tabla-carrito {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#tabla-carrito thead {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ccc;
}

#tabla-carrito th, #tabla-carrito td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#tabla-carrito th {
    font-weight: bold;
    color: #333;
}

#tabla-carrito td {
    color: #666;
}

#tabla-carrito td input[type="number"] {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

#tabla-carrito td button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#tabla-carrito td button:hover {
    background-color: #ff1a1a;
}

#btn-comprar {
    background-color: var(--otro-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#btn-comprar:hover {
    background-color: var(--other-color);
}

/* Media Queries */
@media (max-width: 768px) {
    #tabla-carrito th, #tabla-carrito td {
        padding: 10px;
        font-size: 10px;
    }
}

/* Estilos para el formulario de compra */
#form-compra {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#form-compra .campo {
    margin-bottom: 15px;
}

#form-compra .campo label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#form-compra .campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#form-compra button {
    background-color: var(--otro-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form-compra button:hover {
    background-color: var(--other-color);
}

/* Estilos para la sección de datos de compra */
#datos-compra {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#datos-compra p {
    margin: 10px 0;
    font-weight: bold;
}

#datos-compra button {
    background-color: var(--otro-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

#datos-compra button:hover {
    background-color: var(--otro-color1);
}

/* seccion  */

.seccion {
    display: none;
    padding: 60px 14% 60px;
}

#home.seccion {
    display: block;
}

/* Media Queries */
@media (max-width: 1200px) {
    header {
        padding: 20px 10%;
    }

    .container {
        padding: 20px 10%;
    }

    .seccion {
        padding: 50px 10%;
    }
}

@media (max-width: 992px) {
    .navlist p {
        margin: 0 20px;
    }

    .row {
        padding: 30px 40px 70px;
        margin: 15px;
    }

    header {
        padding: 20px 8%;
    }

    .container {
        padding: 20px 8%;
    }

    .seccion {
        padding: 40px 8%;
    }
}

@media (max-width: 768px) {
    .home-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .middle-text h2 {
        font-size: 2rem;
    }

    header {
        padding: 15px 5%;
    }

    .container {
        padding: 15px 5%;
    }

    .seccion {
        padding: 30px 5%;
    }

    .navlist {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navlist.active {
        display: flex;
    }

    #menu-icon {
        display: block;
    }
}

@media (max-width: 576px) {
    .home-text h1 {
        font-size: 2.5rem;
    }

    .middle-text h2 {
        font-size: 1.5rem;
    }

    header {
        padding: 10px 4%;
    }

    .container {
        padding: 10px 4%;
    }

    .seccion {
        padding: 20px 4%;
    }
}

@media (max-width: 400px) {
    .home-text h1 {
        font-size: 2rem;
    }

    .middle-text h2 {
        font-size: 1.2rem;
    }

    header {
        padding: 10px 3%;
    }

    .container {
        padding: 10px 3%;
    }

    .seccion {
        padding: 20px 3%;
    }
}
